<footer class="container-fluid bg-primary">
	<div class="row">
		
		<section class="col">
      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5 style="color:white" >Abonnez-vous à notre newsletter</h5>
          <p style="color:white" >Résumé mensuel de ce qui est nouveau et excitant de notre part.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-secondary" type="button">S'abonner</button>
          </div>
        </form>
      </div>

		</section>
		
	</div>
  <section class="col bg-dark">
       <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p style="width:40%;margin:auto; color:white">&copy; 2023 Company, Inc. All rights reserved.</p>
    </div>

		</section>
</footer>
